body {
    margin: 0px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('Assets/Ratrodbackground.jpg');
    background-size: cover;
    background-position: 60% top;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
header {
    font-family: 'Major Mono Display', monospace;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;x
}
a {
    text-decoration: none;
    color: white;
    padding-top: 5px;
}
.title {
    margin: 0;
    font-size: 2em;
    padding-top: 5px;
    text-align: right;
    white-space: nowrap;
}
.nav_container {
    display: flex;
    flex-direction: column;
}
a {
}
main {
    font-family: 'Major Mono Display', monospace;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desktop_text_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.circle_container {
    background-image: url(assets/Erik.jpg);
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #FFF;
}
.main_text {
    display: none;
    color: #000;
}
@media only screen and (min-width: 489px) {
    header {
        flex-direction: row-reverse;
    }
    .nav_container {
        flex-direction: row;
    }
    .desktop_text_container {
        background-color: #FFF;
    }
    .main_text {
        display: flex;
    }
    .name, .subtext {
        display: none;
        height: none;
    }
    main {
        align-items: flex-end;
    }
    .circle_container {
        margin-top: 20px;
        border: 2px solid black;
    }
}
